@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu Year="@Year"/>
    </div>

    <main>
        <div class="top-row">
            <MainHeader Year="@Year" />
            <h3>Advent of Code @(Year == 0 ? "" : Year)</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    public int Year { get; set; }
    public int Day { get; set; }

    protected override void OnParametersSet() {
        // pull out the "Year" parameter from the route data
        var routeValues = (this.Body?.Target as RouteView)?.RouteData.RouteValues;
        object? objTemp = null;
        if (routeValues?.TryGetValue("year", out objTemp) == true) {
            if (int.TryParse(objTemp?.ToString(), out int year)) {
                Year = year;
            }
        }
        if (routeValues?.TryGetValue("day", out objTemp) == true) {
            if(int.TryParse(objTemp?.ToString(), out int day)) {
                Day = day;
            }
        }
    }
}
