@page "/"
@page "/{year:int}"

<h2>--- Advent of Code ---</h2>
<h5>(reproduced from the Advent of Code web site)</h5>
<p><em><a href="https://adventofcode.com/" title="Advent of Code" target="_blank">Advent of Code</a></em> is an Advent calendar of small programming puzzles for a variety of skill sets and skill levels that can be solved in <a href="https://github.com/search?q=advent+of+code">any</a> programming language you like. People use them as a <a href="/leaderboard">speed contest</a>, <a href="https://y3l2n.com/2018/05/09/interview-prep-advent-of-code/">interview</a> <a href="https://twitter.com/dznqbit/status/1037607793144938497">prep</a>, <a href="https://twitter.com/pgoultiaev/status/950805811583963137">company training</a>, <a href="https://gitlab.com/imhoffman/fa19b4-mat3006/wikis/home">university</a> <a href="https://www.gribblelab.org/scicomp2019/">coursework</a>, <a href="https://twitter.com/mrdanielklein/status/936267621468483584">practice</a> <a href="https://comp215.blogs.rice.edu/">problems</a>, or to <a href="https://www.reddit.com/r/adventofcode/search?q=flair%3Aupping&restrict_sr=on">challenge each other</a>.</p>
<p>You don't need a computer science background to participate - just a little programming knowledge and some <a href="https://www.reddit.com/r/adventofcode/comments/7kd8jt/what_would_you_say_are_the_minimal_skills_for/dre0uu3/">problem solving skills</a> will get you pretty far. Nor do you need a fancy computer; every problem has a solution that completes in at most 15 seconds on ten-year-old hardware.</p>
<p>Advent of Code is a registered trademark in the United States.</p>

<h3>--- General Tips ---</h3>
<p>If you get stuck, try your solution against the <em>examples</em> given in the puzzle; you should get the same answers.  If not, re-read the description.  Did you misunderstand something?  Is your program doing something you don't expect?  After the examples work, if your answer still isn't correct, <em>build some test cases</em> for which you can verify the answer by hand and see if those work with your program.  Make sure you have the entire puzzle input.  If you're still stuck, maybe <em>ask a friend</em> for help, or come back to the puzzle later.  You can also ask for hints in the <a href="https://www.reddit.com/r/adventofcode/" target="_blank">subreddit</a>.</p>

<h3>--- Frequently Asked Questions ---</h3>
<p><em>Why was this puzzle so easy / hard?</em> The difficulty and subject matter varies throughout each event. Very generally, the puzzles get more difficult over time, but your specific skillset will make each puzzle significantly easier or harder for you than someone else. Making puzzles is <a href="https://www.reddit.com/r/adventofcode/comments/7idn6k/question_why_does_the_difficulty_vary_so_much/dqy08tk/">tricky</a>.</p>
<p><em>Why do the puzzles unlock at midnight EST/UTC-5?</em> Because that's when I can consistently be available to make sure everything is working. I also have a family, a day job, and even need sleep occasionally. If you can't participate at midnight, that's not a problem; many people use <a href="/leaderboard/private">private leaderboards</a> to compete with people in their area.</p>

@code {
    [Parameter] public int Year { get; set; }
}
