@inject SessionState Session
@inject IAocClient aocClient
@inject IJSRuntime JSRuntime
<article class="day-desc">
    <h2>--- Input --- <span><button class="btn btn-primary" disabled="@IsGetDisabled" @onclick="() => LoadInputData()">Get Input Data</button></span><button type="button" class="btn btn-primary" disabled="@IsCopyDisabled" @onclick="CopyTextToClipboard">Copy</button></h2>
    <pre><code @ref="_codeElement">
@Input
    </code></pre>
</article>

@code {
    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public int Day { get; set; }

    private string Input { get; set; } = "";
    private bool IsGetDisabled => IsLoading || IsLoaded == true;
    private bool IsCopyDisabled => string.IsNullOrEmpty(Input);
    private bool IsLoaded = false;
    private bool IsLoading = false;

    private ElementReference _codeElement;

    protected override void OnParametersSet() {
        IsLoaded = false;
        Input = "";
        if (Session.DoesProblemInputExist(Year, Day)) {
            Input = Session.GetProblemInput(Year, Day);
            IsLoaded = true;
        }
    }

    async void LoadInputData() {
        IsLoading = true;
        Input = await aocClient.GetInputData(Year, Day);
        IsLoading = false;
        IsLoaded = true;
        StateHasChanged();
        Session.SetProblemInput(Year, Day, Input);

    }

    private async Task CopyTextToClipboard() {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", _codeElement);
    }

}
