button, input {
    margin-left: 0rem;
}

h5 {
    font-size: small;
}

textarea {
    width: 95%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

select {
    background-color: var(--bg-color);
    color: var(--text-color);
}