@inject IAocHttpClient aocClient
@inject SessionState Session
<h4>@UserName <span>@(isLoaded ? $"{NoOfStars}⭐" : "")</span></h4>

@code {
    [Parameter]
    public int Year { get; set; }

    public int Day { get; set; } = 1;
    public int NoOfStars { get; set; }
    public string UserName { get; set; } = "";
    public AocSummary? Summary { get; set; } = default!;

    private bool isLoaded => string.IsNullOrEmpty(UserName) == false;

    // To stop this running twice - setting render-mode="Server" in _Host.cshtml
    protected async override Task OnParametersSetAsync() {
        if (Session.IsSummaryLoaded(Year)) {
            UserName = Session.UserName;
            NoOfStars = Session.GetNoOfStars(Year);
        } else {
            if (Year >= 2015) {
                Summary = await aocClient.GetSummaryInfo(Year);
                if (Summary is not null) {
                    UserName = Summary.UserName;
                    NoOfStars = Summary.NoOfStars;
                    Session.UserName = Summary.UserName;
                    Session.SetNoOfStars(Year, Summary.NoOfStars);
                }
            }
        }
    }

}