<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@Brand</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2020" Match="NavLinkMatch.All">
                <span class="oi oi-calendar" aria-hidden="true"></span> Year 2020
            </NavLink>
        </li>
        @if (Year != 0) {
            for (int i = 1; i <= 25; i++) {
                int day = i;
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"{Year}/day/{day}")">
                        <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Day @day
                    </NavLink>
                </li>
            }
        }
        @for (int i = 2015; i < 2020; i++) {
            int yr = i;
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@yr" Match="NavLinkMatch.All">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Year @yr
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter] public int Year { get; set; }

    public string Brand => $"Advent of Code {(Year == 0 ? "" : Year)} ";

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
