@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('blazor.css');
@import url('themes.css');

em {
    color: var(--text-emphasis);
    font-style: normal;
    font-weight: bold;
}

span[title] {
    border-bottom: 1px dotted #ffff66;
}
