@if (HasVisualiser) {
	<details>
		<summary>Visualiser</summary>
		<div class="visualiser-output">@((MarkupString)Output)</div>
	</details>
}

@code {
	[Parameter] public int Year { get; set; }
	[Parameter] public int Day { get; set; }
	[Parameter] public int ProblemNo { get; set; }

	public string Output { get; set; } = "";
	public bool HasVisualiser { get; private set; } = false;

	protected override Task OnInitializedAsync()
	{
		return base.OnInitializedAsync();
	}

	protected override Task OnParametersSetAsync()
	{
		HasVisualiser = SolutionRouter.HasVisualiser(Year, Day, ProblemNo);
		Output = "";
		return base.OnParametersSetAsync();
	}

	public void VisualiseOutput(string[] lines, bool clearScreen = false)
	{
		if (lines is null or []) {
			return;
		}

		if (clearScreen) {
			Output = "";
		}

		if (lines[0] is "markup") {
			Output += string.Join(Environment.NewLine, lines[1..]);
			Output = System.Text.RegularExpressions.Regex.Replace(Output, @"\[([^\]]+)\]([^\[]*)\[/\]", "<span style='color: $1;'>$2</span>");
		} else {
			Output += string.Join(Environment.NewLine, lines);

		}

		Output += Environment.NewLine;

		// Task.Delay(20);
		StateHasChanged();
	}



}
