details,
.visualiser-output
{
	color: #e83e8c;

	summary {
		font-weight: bold;
		font-size: larger;
	}
}

.visualiser-output {
	display: inline-block;
	font-size: large;
	line-height: 1.1;
	height: 400px;
	width: 95%;
	overflow-x: auto;
	white-space: pre;
	overflow-wrap: normal;
	background-color: var(--bg-color);
	scrollbar-width: thin;
	border: 1px solid var(--text-color);
}

@media (prefers-color-scheme: dark) {
	details,
	.visualiser-output {
		color: #ffd800;
	}
}
