@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row">
            <h3>Advent of Code 2020</h3>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
